/* You can add this to your global styles or inline style */
.create-post-wrapper,
.posts-list-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.create-post-wrapper {
  margin-bottom: 2rem;
}

.posts-list-wrapper {
  margin-top: 1rem;
}

.create-post-wrapper,
.posts-list-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  min-height: 100vh;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}