.bg-image {
  background-image: url('../../assets/photo-1486520299386-6d106b22014b.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  width: 100%;
  padding: 2rem 1rem;
}
