.friend-requests-container {
  padding: 1rem;
}

.requests-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);;
  gap: 1rem;
}

.request-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 0.75rem;
}

.info h4 {
  margin: 0.5rem 0;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.actions button {
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.actions .accept {
  background-color: #007bff;
  color: #fff;
}

.actions .reject {
  background-color: #dc3545;
  color: #fff;
}
